@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";

.project {
  font-family: 'Josefin Sans', sans-serif;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 7px;
  background-color: rgba(44, 48, 74, 0.5);
  padding: 25px;
  border-radius: 20px;

  cursor: pointer;

  &:hover {
    background-color: lighten(#2C304A7F, 3%);
  }

  .image {
    position: relative;
    display: flex;
    height: 250px;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15px;

    .viewBtn {
      text-decoration: none;
      padding: 10px 20px;
      background-color: $primaryColor;
      border-radius: 30%;
      position: relative;
      z-index: 1;
      color: $textColor;
      transition: transform ease-in 0.1s;

      &:hover {
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
        filter: drop-shadow(0 0 0 #15111a);
        transform: translate(0, -5px);
        clip-path: inset(0% 0 0% 0 round 10px);
      }
    }
  }

  .projectInfo {
    padding: 15px;
    min-width: 150px;

    .projectTitle {
      @include text('Jost', 20px, 700, 1.8);
      text-transform: uppercase;
      margin: 0 0 5px;
    }
    .description {
      @include text('Jost', 14px, 400, 1.8);
      color: $textColor;
    }
  }
}


