.wrapper {
  display: flex;
  width: 25vh;
  justify-content: flex-start;
  align-items: center;
}


.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  img {
    width: 40px;
    height: 40px;
  }
}

.title_wrapper {
  width: 100px;
}


.title {
  margin: 0;
  font-size: 20px;
}