.burger {
  &_nav {
    display: none;
    //position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
  }

  &_background {
    position: absolute;
    top: -20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #343e5d;
    z-index: 6;
    height: 103vh;
  }

  &_ul,
  &_li {
    margin: 0;
    padding: 0;
  }

  &_ul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
    z-index: 10;
    left: 16%;
  }

  &_li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &_ul,
  &_li {
    margin: 0;
    padding: 0;
  }

  &_ul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
  }

  &_li {
    list-style: none;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 37px;
    height: 37px;
    border-radius: 57%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 100;

    svg {

    }
  }
}

.icon_placeholder {
  width: 40px;
  height: 40px;
  border-radius: 5%;
  flex: 40px 0;
  margin-right: 20px;
}

.text_placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
  color: white;
}

@media screen and (max-width: 600px) {
  .burger_nav {
    display: flex;
  }
}
