@import "../../styles/sass/variables";


.title {
  margin: 0 0 30px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 5px;
  color: $textColor;
  text-transform: capitalize;
  line-height: 1.2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    background: $textColor;
    width: 55px;
    height: 1px;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: -15px;
  }

  h2 {
    font-size: 45px;
    font-weight: bold;
    margin: 10px;
    text-align: center;


  }
}

@media screen and (max-width: 655px) {
  .title {
    h2 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 375px) {
  .title {
    h2 {
      font-size: 26px;
    }
  }
}

