.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 200px;
  min-height: 200px;
  border-radius: 20px;
  margin: 7px;

  background-color: rgba(44, 48, 74, 0.5);
  color: white;

  box-shadow: 1px 1px 9px #1111118c;
  cursor: pointer;

  &:hover {
    background-color: lighten(#2C304A7F, 3%);
  }
}

.title {
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

.subtitle {
  margin: 0;
}

.icon {
  height: 60px;
  width: 60px;

  margin-top: 20px;
}

.icon_logo {
  height: 60px;
  width: 60px;
}

.description {
  padding: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 630px) {
  .skill {
    width: 150px;
    min-height: 150px;
    padding: 5px;
  }

  .description {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .skill {
    width: 120px;
    min-height: 120px;
    justify-content: center;
    padding: 5px;
  }

  .title, .subtitle {
  font-size: 15px;
  }
}
