@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";

.wrapper {
  margin-bottom: 20px;
  width: 100%;

  .title {
    margin-left: 15px;
  }

  .star {
    color: $textAccent;
  }


}

.message {
  resize: vertical;
  width: 95%;
  min-height: 100px;
  margin-top: 10px;
  border-radius: 30px;
  padding: 15px 0 15px 5%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);

  &::placeholder {
    color: white;
    font-size: 18px;
  }

  &:focus-visible {
    outline: 3px double rgba(25, 118, 210, 1);
  }

}


